*, *::after, *::before {
    box-sizing: border-box;
}
:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size * 0.9));
}
body {
    margin: 0;
}
.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}
.board:hover {
    cursor: pointer;
}
.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid black;
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}
.cell:nth-child(3n + 1) {
    border-left: none;
}
.cell:nth-child(3n + 3) {
    border-right: none;
}
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.x, .circle {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.x {
    background-image: url(./img/x.png);
}
.circle {
    background-image: url(./img/circle.png);
    background-size: 65%;
}
.winning-modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(133, 130, 130, 0.5);
    display: flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.modal-content {
    /* border:2px solid pink; */
    border-radius: 2rem;
    background-color:rgba(8, 8, 8, 0.799);
    height: 20vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    gap: 1rem;
}
.show {
    opacity: 1;
    pointer-events: auto;
}
#restart:hover {
    cursor: pointer;
}
